.App {
  text-align: center;
    font-family: 'Roboto', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.calendar-wrapper {
  max-width: 100%;
  width: 500px; /* Adjust the width as needed */
  margin: auto;
}

/* Override the react-calendar class to adjust size */
.react-calendar {
  width: 100% !important; /* Make the calendar fill the wrapper */
  max-width: none; /* Remove max-width constraints */
  font-size: 1.2rem; /* Adjust font size if needed */
}

.react-calendar__tile {
  height: 80px; /* Adjust the height of each day tile */
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
